@use '_variables' as v;

@mixin rounded-corners($radius: 10px){
    border-radius: $radius;
}

@mixin nav{
    ul{
        list-style: none;
        padding: 0;
        display: flex;
        margin: v.$smallspace;
        justify-content: space-around;
        align-items: center;
        gap: v.$smallspace;
        margin: auto;
    }
    & li{
        padding: 1rem;
        background: v.$secondarycolor;
        @include rounded-corners;

        &:hover{
            //color: v.$quinary-text-color;
            background-color: v.$quaternarycolor;
            transform: scale(1.2);
            transition: 0.5s;
            & a{
                color: v.$quinarycolor;
                font-weight: 700;
            }
        }
        
        & a{
            text-decoration: none;
            color: v.$tertiarycolor;
        }

    }

}
@mixin link{
    a{
    color: v.$quinarycolor;
    text-decoration: none;
    &:hover{
        @include fancy-text;
        font-weight: bolder;
    }
}

}

@mixin fancy-text{
    text-shadow: 1px 1px v.$secondarycolor, 0 0 1rem v.$accentcolor1;

}

@mixin dark-text{
    color: v.$secondarycolor;
    text-shadow: 0rem 0rem 1rem 
    v.$accentcolor2, 
    0px 0px 16px v.$accentcolor2,
    0px 0px 16px v.$accentcolor2,
    0px 0px 16px v.$accentcolor2,
    0px 0px 16px v.$accentcolor2;

}