$primarycolor: rgb(54, 4, 78); //Use three reinbow-adjecant colors and two inverse colors?
$secondarycolor: rgb(0, 0, 0);
$tertiarycolor: rgb(115, 115, 129);
$quaternarycolor: rgb(48, 48, 68);
$quinarycolor: rgb(1, 1, 48);

$accentcolor1: rgb(255, 0, 221);
$accentcolor2:rgb(225, 255, 255);

$basewidth: 31rem;
$largespace: 3rem;
$smallspace: 1.5rem;

$mediacutoff:1135px